.blog {
    padding: 100px 0 0 0;
}

.blog__description {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--color-black);
}

.advantage__row {
    padding: 90px 0 110px 0;
}

@media screen and (max-width: 576px) {
    .blog .col-4 {
        margin: 70px 0 0 -10px;
        justify-content: center;
    }
    .blog .row {
        border-bottom: 2px solid var(--color-black);
    }
}