.clients {
    position: relative;
    background-color: var(--color-black);
    padding: 153px 0 117px 0;
    margin: 140px 0 200px;
    /* height: 40vh; */
}

.clients__title {
    font-family: Inknut Antiqua;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: var(--color-white);
}

.clients__suptitle {
    padding: 32px 0 0 0;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-white);
}

.clients__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.inner__name {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--color-white);
}

.clients__info {
    padding: 0 0 3px 26px;
}

.inner__description {
    margin: 100px 0 0 0;
    max-width: 370px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-light-gray);
}

.inner__info {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
}

.clients .clients__wrapper {
    position: absolute;
    top: 140px;
    width: 1100px;
}
.clients .clients__item {
    margin: 0px 30px;
    max-width: 570px;
    padding: 50px 50px;
    width: 270px;
    height: 512px;
    background-color: var(--color-purple);
}

.clients .clients__item:nth-child(2),
.clients .clients__item:nth-child(4),
.clients .clients__item:nth-child(6),
.clients .clients__item:nth-child(8) {
    background-color: var(--color-green);
    max-height: 400px;;
}

.clients .clients__wrapper .slick-dots {
    position: relative;
    margin: -250px 0 0 -550px;
    display: flex;
    list-style: none;
}
.clients .clients__wrapper .slick-dots button {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    font-size: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--color-pink);
}

.clients .slick-list {
    height: 640px;
}
@media screen and (max-width: 576px) {
    .clients__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
    }
    .clients .clients__wrapper {
        max-width: 329px;
        max-height: 140px;
        margin: 188px 0 0 0;
        display: none;
    }
    .clients .clients__item {
        max-width: 329px;
        /* max-height: 140px; */
        /* margin: 188px 0 0 0; */
    }
    .clients__suptitle {
        padding: 36px 0 69px;
    }
    .clients .slick-list {
        max-height: 640px;
    }
    .clients {
        margin: 140px 0 -350px;
    }
}
