.footer {
    background-color: var(--color-black);
    padding: 140px 0 0 0;
}

.footer__title {
    color: var(--color-white);
}

.footer__btn {
    padding: 8px 280px 8px 16px;
    margin: 22px 0 32px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-gray);
    border-radius: 3px;
    border: 1px solid transparent;
}

.footer .col-6 .suptitle {
    padding: 43px 0 0 0;
    color: var(--color-white) !important;
    text-align: left;
    margin-left: 40px;
}

.footer .col-6 {
    /* padding: 48px 40px 64px 24px; */
    margin: 0 0 0 236px;
    background-color: var(--color-pink);
    text-align: center;
    border-radius: 3px;
    height: 288px;
}

.footer .btn-pink {
    padding: 14px 191px;
}

.footer .row:first-child {
    border-bottom: 2px solid var(--color-white);
}

.footer .row:last-child {
    justify-content: space-between;
    padding: 102px 0 0 0;
}

.footer .description {
    padding: 35px 0 0 0;
    color: var(--color-light-gray);
}

.footer__email,
.footer__phone {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
}

.footer__email {
    padding: 8px 0;
}

.footer__item {
    list-style: none;
    margin: 8px 8px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
}

.footer svg {
    cursor: pointer;
}

.bag__suptitle, .bug__suptitle {
    color: var(--color-white) !important;
    text-align: left;
    margin-left: 10px;
}

@media screen and (max-width: 576px) {
    .footer__title {
        padding: 0 0 70px 0;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
    }
    .footer .row {
        border: none !important;
    }
    .footer__phone,
    .footer__email,
    .footer .description {
        margin: 8px;
    }
    /* .footer .col-6 .suptitle {
        padding-left: px;
    } */
    .footer .col-2 {
        margin: 0 0 80px 0;
    }
    .col-6 {
        margin: 0 !important;
        width: 340px;
        height: 188px;
        justify-content: center
    }
    .footer__btn {
        width: 235px;
        padding: 8px 0 8px 16px;
    }
    .footer .btn-pink {
        min-width: 251px;
        padding: 14px 0;
    }
}
