.header {
    height: 60px;    
    background-color: var(--color-black);
    display: flex;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__list {
    display: flex;
}
.header__item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-right: 30px;
    color: var(--color-white);
    list-style: none;
}
.header__logo {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white);
    text-transform: uppercase;
}

@media screen and (max-width:576px) {
    .header__list {
        display: none;
    }
    .header__logo {
        font-size: 32px;
    }
}
