.portfolio {
}

.portfolio__suptitle {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-black);
    z-index: 8;
}

.portfolio__list {
    display: block;
}

.portfolio__item {
    margin-top: 20px;
    list-style: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    transition: 0.3s;
}

.portfolio .row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__item a {
    padding: 11px 50px 11px 0;
    border-radius: 3px;
    text-decoration: none;
    color: var(--color-black);
    transition: 0.4s ease-in-out;
}

.portfolio__item a:hover {
    padding-left: 5px;
    background-color: var(--color-black);
    color: var(--color-white);
}
.portfolio__container .col-7 {
    margin: 40px 0 0 0px;
    position: relative;
    width: 870px;
    height: 416px;
    background-color: var(--color-yelow);
    z-index: -1;
}

.portfolio__container .col-7 .portfolio__suptitle {
    padding: 219px 0 0 48px;
}

.portfolio__title-black {
    margin: 0 0 0 48px;
    font-family: Inknut Antiqua;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--color-black);
}

.portfolio__container {
    margin-top: -45px;
}

.portfolio__container .col-7:nth-last-child(2) img {
    position: absolute;
    bottom: 0;
    right: 111px;
}

.portfolio__container .col-7:nth-child(2) {
    position: relative;
    background-color: var(--color-pink);
}

.portfolio__col-7 img {
    position: absolute;
    bottom: -1px;
    right: -43px;
}

.portfolio .btn-pink {
    margin: 80px 0 0 55%;
}

.portfolio select {
    display: none;
}

@media screen and (max-width: 576px) {
    .portfolio select {
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
        padding: 8px 170px 8px 16px;
        margin: 12px 0 64px;
        display: flex;
        outline: none;
        border: 1px solid var(--color-gray);
        border-radius: 3px;
    }
    .portfolio .col-7 .portfolio__suptitle {
        margin-top: -40px;
        margin-left: -15px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
    }
    .portfolio__list {
        display: none;
    }
    .portfolio .container {
        margin-top: 100px;
    }
    .portfolio__container .col-7 {
        position: relative;
        width: 329px;
        height: 320px;
    }
    .portfolio__container .col-7:nth-last-child(2) img {
        position: absolute;
        width: 274px;
        height: 342px;
        right: 1px;
        z-index: -1;
    }
    .portfolio__col-7 img {
        position: absolute;
        width: 426px;
        height: 302px;
        bottom: -1px;
        left: 0;
        z-index: -1;
    }
    .portfolio__col-7 .portfolio__suptitle, .portfolio__title-black {
        color: var(--color-white);
    }
    .portfolio__title-black {
        margin: 0 0 25px 28px;
        z-index: 4;
    }
    .portfolio .btn-pink {
        margin: 80px 0 0 25%;
    }
}
