.sponsors {
    margin: 550px 0 0 0;
}

.sponcors__container {
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black)
}

.sponsors__image {
    /* padding: 140px 0; */
}

.sponsors__list {
    padding: 50px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.sponsors__item {
    list-style: none;
}